- var exper = data.sections[1];
.container
        h1.clearfix
          i.fa(aria-hidden='true' class=exper.title.icon)
          |  #{ exper.title.name }
        each exp in exper.exp
            h3 #{ exp.company }
                small.pull-right #{ exp.time } / #{ exp.position }
            ul
                each proj in exp.projects
                    li
                        h4 #{ proj.name }
                        p #{ proj.summary }
                        ul
                        each point in proj.points
                            li #{ point }
