h1.clearfix.pull-right.name #{ data.personal.name }
br
br
br
br
ul.list-unstyled
  each detail in data.personal.details
    li.clearfix
      .pull-right
        | #{ detail.label } &nbsp; &nbsp;
        i.fa.fa-fw.fa-lg(aria-hidden='true' class=detail.icon)
br
div(id="side-nav")
  ul.nav.nav-list.list-unstyled
    each section in data.sections
      li.clearfix
        a.pull-right(href="#"+section.title.shortName)
          | #{ section.title.name } &nbsp; &nbsp;
          i.fa.fa-fw.fa-lg(aria-hidden='true' class=section.title.icon)
            